body{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.heading{
    width: 100%;
    margin: 0px;
    font-size: 30px;
}
.note{
    font-size: 23px;
}
#songname{
    box-shadow: 10px, 10px, 10px, black;
    font-size: 20px;
}
canvas{
    border: solid;
    border-width: 20px;
    border-color: white;
}
